:root {
  --gridWidth: 480px;
  --cellWidth: 0px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.reset-btn {
  background-color: blue;
  color: white;
}

.grid {
  display: flex;
  width: var(--gridWidth);
  height: var(--gridWidth);
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
}

.cell {
  border: 1px solid black;
  background-color: lightgray;
  width: var(--cellWidth);
  height: var(--cellWidth);
}

.cell-changed {
  background-color: black;
  border: 1px solid black;
  width: var(--cellWidth);
  height: var(--cellWidth);
}
